<h1>Clothing List</h1>

<dib class="row">
    <div class="col">

        <!-- TABLE GOES HERE -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Colour</th>
                <th scope="col">Size</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>

                <!--REPEATABLE ROW TEMPLATE-->

                <% for(let count = 0; count < clothing.length; count++){ %> 

              <tr>
                <th scope="row"><%= count + 1 %></th>
                <td><%= clothing[count].name %></td>
                <td><%= clothing[count].brand %></td>
                <td><%= clothing[count].category %></td>
                <td><%= clothing[count].colour %></td>
                <td><%= clothing[count].size %></td>
                <td><%= clothing[count].price %></td>

              </tr>
              <%  } %> 
            </tbody>
          </table>

    </div>
</dib>