<div class="row justify-content-lg-center g3">
    <h1><%= title  %> Clothing </h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="name">Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Item Name"
            name="name" value="<%= item.name %>" required>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Brand</span>
            <input id="brand" type="text" class="form-control" placeholder="Brand" aria-label="Brand" aria-describedby="Item Brand"
            name="brand" value="<%= item.brand %>" required>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Category</span>
            <input id="category" type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="Item Category"
            name="category" value="<%= item.category %>" required>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Colour</span>
            <input id="colour" type="text" class="form-control" placeholder="Colour" aria-label="Colour" aria-describedby="Item Colour"
            name="colour" value="<%= item.colour %>" required>
          </div>

          
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Size</span>
            <input id="size" type="text" class="form-control" placeholder="Size" aria-label="Size" aria-describedby="Item Size"
            name="size" value="<%= item.size %>" required>
          </div>

          
          <div class="input-group mb-3">
            <span class="input-group-text" id="name">Price</span>
            <input id="price" type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="Item Price"
            name="price" value="<%= item.price %>" required>
          </div>

          <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg">Edit</i></button>

    </form>

</div>